div#header {
    width: 100%;
    background: #f58220;
    text-align: center;
    color: #fff;
    display: block;
    /*padding: 100px 0;*/
}

div#body {
    width: 100%;
    background: #fff;
    text-align: center;
    color: #000;
    display: block;
    padding: 100px 0;
}

div#footer {
    width: 100%;
    background: #bbb;
    text-align: center;
    color: #000;
    display: block;
    padding: 100px 0;
}


.inner {
    max-width: 700px;
    margin: 0 auto;
}

div#mainmenu {
    background: #d26100;
    color: #fff;
    padding: 10px 0;
}

ul.menu-items {
    list-style: none;
    text-align: center;
    padding: 0;
}

.menu-items li.item {
    display: inline-block;
    margin: 0 10px;
}

#header img {
    width: 250px;
    border: 2px solid #fff;
    margin: 50px;
}

.menu-items .item a{
    color: #fff;
    text-decoration: none;
    padding:5px;
}

.menu-items .item a:hover{
    color: #822600;
    cursor: pointer;
}